body {
  /* width: 100%; */
  /* background-color: red; */
}

h1 {
  margin: 0;
}

a {
  color: #000;
}

input {
  cursor: pointer;
}

img {
  width: 150px;
  height: 150px;
}

.text_center {
  text-align: center;
}


.common_btn {
  padding: 3px 80px;
  background-color: #4a4fcb;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.text_box {
  width: 70px;
}

.error {
  max-width: 90%;
  margin: 10px auto;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  background-color: #f9def1;
  color: red;
}

.success {
  max-width: 90%;
  margin: 10px auto;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  background-color: #cbfbda;
  color: #4a9979;
}

.thanks {
  max-width: 90%;
  margin: 10px auto;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  background-color: #fcfccc;
  color: #7a5632;
}